* {
    font-family:sans-serif;
    list-style:none;
    text-decoration:none;
    margin:10px;
    padding:0;
    }
.caja{
   /*margin-left: 10px;
   background-color: aqua;
   position: center;*/
   background: #1313d1;
   border: 15px solid aqua;
    color: #FFFFFF;
    position: absolute;
    right: 40%;
    text-align: center;
}
    
.success{
    border: 5px solid rgb(0, 255, 0);
}
    
.error{
    border: 5px solid red;
}